.ArticleList {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

.ArticleList > * {
  float: left;
  margin-bottom: 15px;
}

/* we don't want right margin on the last child in every row of 2 */
.ArticleList > *:not(:nth-child(2n)) {
  margin-right: 15px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
