.FilterBar-personalizationFilter {
  margin-top: 10px;
}

.FilterBar-matchedSources {
  font-size: 10px;
  margin-top: 3px;
}

.FilterBar-loginWrapper {
  max-width: 650px;
  margin: 0 auto;
}

/* Hack: overriding the facebook button library's styling */
.kep-login-facebook {
  border-radius: 6px !important;
}