.ArticleSplitView {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ArticleSplitView-content {
  width: 50%;
  padding: 15px;
}

.ArticleSplitView-leftContent {
  padding-right: 10px;
  border-right: solid grey 1px;
}

.ArticleSplitView-rightContent {
  padding-left: 10px;
}