.App {
  text-align: center;
}

.App-header {
  background-color: #dadada;
  padding: 20px;
  color: #4a4a4a;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.App-attribution {
  font-size: 10px;
  margin-bottom: 25px;
}

.App-nav {
  padding: 10px;
  width: 100%;
  border-bottom: solid grey 1px;
}

.App-nav > *:first-child {
  margin-right: 5px;
}
