.Slider {
  border: solid #4a4a4a 1px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.Slider-label {
  font-weight: bold;
  font-size: 11px;
}

.Slider-labelWrapper {
  display: flex;
  justify-content: space-between;
}